
<table class="products">
	{% tablerow product in collections[product-grid].products cols:4  %}
	<div class="product">
	<a href="{{ product.url | within: collections.[settings.frontpage_collection] }}">

		<span class="vertical-center">
			<img src="{{ product.images.first | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />
		</span>

		<span class="product-description clearfix">

			{% if product.compare_at_price_max > product.price %}<em>sale</em>{% endif %}<strong>{{ product.title }}</strong><small>{{ product.price  | money }}</small>
		</span>
		</a>
		</div>
	{% endtablerow %}
</table>