{% for link in linklists.[settings.linklist_nav].links %}

{% if collection.handle == blank %}
{% capture show_sub_nav %}no{% endcapture %}

{% elsif link.object.handle == collection.handle %}
{% capture show_sub_nav %}yes{% endcapture %}

{% endif %}
{% endfor %}
	
{% if show_sub_nav == 'yes' %}

<ul class="subnav clearfix">
	<li><a href="{{ collection.url }}">All</a></li>

	{% capture first_active_tag %}{{ product.tags | last}}{% endcapture %}
	{% capture second_active_tag %}{{ product.tags | first }}{% endcapture %}

	{% for tag in collection.all_tags %}

	{% if tag == first_active_tag or tag == second_active_tag %}

	<li class="active"><a href="{{ shop.url }}{{ collection.url}}/{{ tag | handleize }}">{{ tag }}</a></li>

	{% else %}
	
<li><a href="{{ shop.url }}{{ collection.url}}/{{ tag | handleize }}">{{ tag }}</a></li>

	{% endif %}

	{% endfor %}
	
</ul>

{% endif %}


<div class="product clearfix">

	<div class="product-images">
		<ul>
			{% for image in product.images %}
			{% if forloop.first %}
			<li>
				<a href="{{ image | product_img_url: 'grande' }}" rel="fancy" class="fancy_image" ><img src="{{ image | product_img_url: 'medium' }}"  /></a>
			</li>
			{% else %}
			<li><a href="{{ image | product_img_url: 'grande' }}" rel="fancy" class="fancy_image" ><img  src="{{ image | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}" width="110px" /></a></li>
			{% endif %}
			{% endfor %}
		</ul>

	</div><!-- .product-images -->

	<div class="product-details ">
		
    <div class="product-title clearfix">

      <h1>{{ product.title | escape }}</h1>

      {% if settings.show_product_social %}
      <ul class="product-social-buttons">
        <li><a href="http://twitter.com/share" class="twitter-share-button" data-text="Check out {{ product.handle }}" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
        <li><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="{{ shop.url }}/products/{{ product.handle }}" layout="button_count" show_faces="true" width="150"></fb:like></li>
      </ul>
      {% endif %}

    </div><!-- .product-title -->

		<div class="description">
			{{ product.description }}   
		</div><!-- .description -->

    {% if product.available %}
      <form action="/cart/add" method="post" class="variants" id="product-actions">
        <div class="options clearfix">  

          <div class="variants-wrapper clearfix {% if product.variants.size == 1 %}visuallyhidden{% endif %}">
            
          {% if product.variants.size > 1 and product.options.size == 1  %} 
          <label for="{{ product.options }}">{{ product.options }}</label>
          {% endif %}
          
          <select id="product-select" name="id">
            {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title | escape }} - {{ variant.price | money }}</option>
            
            {% endfor %}
           </select>
          </div>            
            
          <div id="purchase">
            <p class="price"></p>                                 
            <input class="btn" type="submit" name="add" id="add-to-cart" value="Add to Cart" />
          </div>

        </div><!-- /.options -->
      </form>

    {% else %}
      <div id="product-actions" class="sold-out">
        <div id="purchase">
          <p class="price">Sold out</p>      
        </div>
      </div>      
    {% endif %}
  </div><!-- #product-header -->
        

</div><!-- /product-information -->

</div><!-- .product -->

		
		{% if collection.handle != blank %}
		   
    <div class="related-products">

      <div class="extra-border clearfix">
        <h2>Related Products</h2>
      </div><!-- .extra-border -->

      {% assign number_of_related_products_to_show = 3 %}
      {% assign image_size = 'medium' %}

      {% capture number_of_related_products_to_fetch %}{{ number_of_related_products_to_show | plus: 1 }}{% endcapture %}

      {% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
      {% assign found_a_collection = false %}
      {% for c in product.collections %}
      {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
      {% endif %}
      {% endfor %}
      {% endif %}

      {% if collection %}

      <table class="products">
        {% assign current_product_found = false %}
        {% tablerow prod in collection.products limit: number_of_related_products_to_fetch %}
        {% if prod.title == product.title %}
        {% assign current_product_found = true %}
        {% else %}
        {% unless current_product_found == false and forloop.last %}

        <div class="product">
 
            <a href="{{ prod.url | within: collection }}" title="{{ prod.title | escape }}">
              
              <span class="vertical-center">
                {{ prod.featured_image | product_img_url: image_size | img_tag }}
              </span>

              <span class="product-description clearfix">
                {% if prod.compare_at_price_max > prod.price %}<em>sale</em>{% endif %}<strong>{{ prod.title }}</strong>
              </span>
            </a>


          <span class="money">{{ prod.price | money }}</span>
        </div><!-- product -->

        {% endunless %}
        {% endif %}
        {% endtablerow %}
      </table>
      {% endif %}

    </div><!-- .related-products -->
	
			{% endif %}
	
	
	
	    {%if product.available %}
      <script>
        var selectCallback = function(variant, selector) {
          if (variant && variant.available) {
            // selected a valid variant
            $('#add-to-cart').removeClass('disabled').removeAttr('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
            
            if(variant.compare_at_price == null){
              $('.options .price').html('<strong>'+Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}")+'</strong>');
            } else {
              $('.options .price').html('<strong>'+Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}") + '</strong> <span class="compare_at_price">was <del>' + Shopify.formatMoney(variant.compare_at_price, "{{shop.money_with_currency_format}}") + '</del></span>');
            }
          } else {
            // variant doesn't exist
            $('#add-to-cart').addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button
            var message = variant ? "Sold Out" : "Unavailable";    
            $('.options .price').text(message); // update price-field message
          }
        };

        // initialize multi selector for product
        $(function() {
          new Shopify.OptionSelectors("product-select", { product: {{ product | json }}, onVariantSelected: selectCallback });
          {% assign found_one_in_stock = false %}

          {% for variant in product.variants %}
            {% if variant.available and found_one_in_stock == false %}
              {% assign found_one_in_stock = true %}
              {% for option in product.options %}
              $('.single-option-selector:eq(' + {{ forloop.index0 }} + ')').val({{ variant.options[forloop.index0] | json }}).trigger('change');
              {% endfor %}
            {% endif %}
          {% endfor %}  
        });
      </script>
      {% endif %}

